@tailwind base;
@tailwind components;
@tailwind utilities;

/* IOS Safe Area support */
@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}